<div class="container pt-5">
    <h1 class="title pb-3">Secciones</h1>
<p><a href="/products">Ver todos los productos</a></p>
<p><a href="/carts/66455281d63b4c7205913bf4">Ver detalle de carrito</a></p>
<p><a href="/chat">Chat</a></p>
